/* RESET CSS BÁSICO */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul,a {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
}
.lobster{
    font-family: 'Lobster', cursive;
}
.lora{
    font-family: 'Lora', serif;
}

h2{
    font-size: 4rem;
}
/* HEADER */
header{
    background-color: rgb(121, 156, 124);
    display: flex;
    height: 60px;
    padding: 0 10%;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 100;
}
.logo{
    flex: 1;
    font-size: 1.5rem;
}
nav{
    height: 100%;
    text-align: center;
}
.nav-bar{
    display: flex;
    font-weight: 500;
    height: 100%;
    align-items: center;
}
.nav-bar a{
    margin-left: 2rem;
    margin-top: 5px;
}
#nav-sobre-mim{
    border-bottom: 3px solid black;
    font-weight: 700;
}
@media only screen and (max-width:550px) {
    header{
        padding: 0 10px;
    }
}
/* Seção da Intro */
#background{
    padding-top: 60px;
    background-color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    min-height: 100vh;
    color: aliceblue;
    background-color: rgb(49, 49, 49);
    padding: 0 10%;
    position: relative;
    width: 100%;
}
#intro:before {
    content: " ";
    z-index: 0;
    display: block;
    left: 0;
    top: 0;
    position: absolute;   
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 5%;
    background-color: rgb(114, 128, 114);
    background-image: url(../images/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.obras{
    font-family: 'Lora', serif;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    z-index: 4;
    background-color: yellow;
    color: black;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    margin: 0 auto;
}
.placa-conteudo{
    width: 310px;
    border: solid 2px black;
    border-radius: 5px;

}
#cuidado{
    background-color: black;
    color: yellow;
    border: solid 2px yellow;
    border-radius: 5px;
    position: relative;
    top: 2px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.placa-msg{
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    padding: 5px;
}
.placa-msg span{
    text-align: center;
}
#titulo{
    display: inline-block;
    position: relative;
    margin: auto auto;
    text-align: center;
    font-size: 4rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    z-index: 5;
}
#tec-icons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tec-icon{
    z-index: 2;
    font-size: 6rem;
    color: rgb(121, 156, 124);
    margin: 2rem 5%;
    opacity: 0.9;
}
#js{
    color: rgb(247,223,30);
}
#css3{
    color: rgb(0,174,229);
}
#react{
    color: rgb(100,218,250);
}
#html{
    color: rgb(240,82,3)
}
@media only screen and (max-width:1000px) {
    .tec-icon{
        font-size: 4.9rem;
    }
    #titulo{
        font-size: 2.5rem;
        padding: 1rem 0;
    }
    .placa-conteudo{
        width:auto;
    }
}
@media only screen and (max-width:550px) {
    #intro{
        padding: 60px 2rem 2rem;
    }
}

/* SOBRE MIM CONTAINER */
#sobreMim::before { /*Cria o efeito de textura por traz do container*/
    content: " ";
    background-image: url(../images/textura-sobreMim.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    display: block;
    position: absolute;   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.1;
    top: 0;
}
#sobreMim{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 2rem;
    flex-direction: column;
}
#sobreMim p{
    text-indent: 2rem;
}
.sm-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#sobreMim .text{
    height: 100%;
    max-width: 60%;
    padding: 2rem;
    text-align: justify;
    font-size: 1.5rem;
    opacity: 0.99;
}
.foto-profile{
    max-width: 25rem;
    opacity: 0.99;
}
.foto-profile img{
    border-radius: 50%;
    
}
#icones-carreira{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.car-icon{
    height: 100px;
    display: inline-block;
    margin: 2rem 2rem;
    z-index: 3;
    opacity: 0.99;
}
.car-icon img{
    height: 100%;
}
#fametro{
    max-width: 300px;
}
@media only screen and (max-width: 1000px) {
    #sobreMim .text{
        max-width: 80%;
    }
    .car-icon{
        margin: 2rem 1rem
    }
}
@media only screen and (max-width: 550px) {

    #sobreMim .text{
        max-width: 100%;
    }
    .foto-profile{
        padding: 1rem
    }
}
/* Seção de Contatos */
#contatos:before {
    content: " ";
    z-index: 0;
    display: block;
    left: 0;
    top: 0;
    position: absolute;   
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}
#contatos{
    background-image: url(../images/textura-contatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#contatos .text{
    position: relative;
    z-index: 4;
    text-align: center;
}
#contatos .text p{
    font-size: 2rem;
}
#icones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}
.contato{
    z-index: 4;
    position: relative;
    margin: 2rem;
}
.contato img{
    max-height: 315px;
}
.contato figcaption{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
    .contato img{
        max-width: 300px;
    }
    .contato figcaption{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width:320px){
    #contatos{
        padding: 60px 10px 10px;
    }
    .contato{
        margin: 1rem 0;
    }
    #linkedin img, #email img{
        max-width: 290px;
    }
    
}
