/* RESET CSS BÁSICO */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
}

/* HEADER */
header{
    background-color: rgb(121, 156, 124);
    display: flex;
    height: 7.5vh;
    padding: 0 10%;
    align-items: center;
    /* justify-content: space-between; */
}
#titulo{
    font-family: 'Lobster', cursive;
    flex: 1;
}
nav{
    height: 100%;
}
.nav-bar{
    display: flex;
    font-family: 'Lora', serif;
    font-weight: 500;
    height: 100%;
}
.nav-bar a{
    margin-left: 2rem;
    margin-top: 3vh;
}
#sobre-mim{
    border-bottom: 3px solid black;
    font-weight: 700;
}
#background{
    background-color: rgb(143, 143, 143);
}
.container{
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    background-color:beige;
}
.sobreMim{
    padding: 2rem;
}
.foto-profile{
    width: 1000px;
    margin-left: 3rem;
}
.foto-profile img{
    border-radius: 50%;
}